.root {
  display: flex;
  width: 100%;
  height: 412px;
  position: relative;
  flex-direction: column;
  max-width: 260px;
  overflow: hidden;
  background: var(--token-X_8-iYvIaM-o);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox__lxqUx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background: var(--token-dG2b_m_Dkogy);
  min-width: 0;
  flex-shrink: 0;
}
.img__hsf35 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hsf35 > picture > img {
  object-fit: cover;
}
.freeBox__oz4Xe {
  position: absolute;
  left: auto;
  top: 20px;
  right: 0px;
  height: 30px;
  width: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(233, 156, 46);
  flex-shrink: 0;
  display: none;
}
.text__xxryu {
  position: relative;
  color: var(--token-X_8-iYvIaM-o);
}
.freeBox__caGCq {
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: auto;
  width: 100%;
  bottom: 0px;
  height: 35px;
  background: var(--token-6-9k9VEZ-);
  min-width: 0;
  display: none;
  padding: 10px;
}
.freeBox__caGCq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__caGCq > :global(.__wab_flex-container) > *,
.freeBox__caGCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__caGCq > :global(.__wab_flex-container) > picture > img,
.freeBox__caGCq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__mvDDa {
  position: relative;
  object-fit: cover;
  color: var(--token-X_8-iYvIaM-o);
  height: 1em;
}
.text__hVbEw {
  position: relative;
  width: 100%;
  color: var(--token-X_8-iYvIaM-o);
  min-width: 0;
}
.svg___7XelI {
  position: relative;
  object-fit: cover;
  color: var(--token-X_8-iYvIaM-o);
  height: 1em;
}
.svg__xxMgo {
  position: relative;
  object-fit: cover;
  color: var(--token-X_8-iYvIaM-o);
  height: 1em;
}
.ratings__hox6M:global(.__wab_instance) {
  position: relative;
}
.freeBox___7Apu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7Apu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___7Apu > :global(.__wab_flex-container) > *,
.freeBox___7Apu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Apu > :global(.__wab_flex-container) > picture > img,
.freeBox___7Apu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.slotTargetTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--token-1P9RLcGkwf8f);
}
.slotTargetPrice {
  color: var(--token-1P9RLcGkwf8f);
  text-align: center;
  font-size: 18px;
}
