.root {
  display: flex;
  width: 100%;
  height: 723px;
  position: relative;
  flex-direction: column;
  background: var(--token-X_8-iYvIaM-o);
  min-width: 0;
}
.freeBox__x1Apa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.columns__go8W {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__go8W > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__go8W > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__go8W {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__go8W > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hYfaA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 947px;
  height: 562px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin: 0px;
  }
}
.column__lRnwc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px;
}
.column__lRnwc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__lRnwc > :global(.__wab_flex-container) > *,
.column__lRnwc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lRnwc > :global(.__wab_flex-container) > picture > img,
.column__lRnwc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72.3px;
  color: var(--token-eYRnj8SlhixF);
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-eYRnj8SlhixF);
    text-align: center;
    padding-bottom: 0px;
  }
}
.columns__yJt9R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__yJt9R > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yJt9R > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yJt9R > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yJt9R {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yJt9R > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qkkfz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 0;
}
.column__qkkfz > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__qkkfz > :global(.__wab_flex-container) > *,
.column__qkkfz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qkkfz > :global(.__wab_flex-container) > picture > img,
.column__qkkfz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__cSoNz {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cSoNz {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-eYRnj8SlhixF);
    text-align: center;
    padding-bottom: 0px;
  }
}
.text__jxC {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jxC {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-eYRnj8SlhixF);
    text-align: center;
    padding-bottom: 0px;
  }
}
.column__iimQr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 60px;
}
.column__iimQr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__iimQr > :global(.__wab_flex-container) > *,
.column__iimQr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__iimQr > :global(.__wab_flex-container) > picture > img,
.column__iimQr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text___7Fo {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Fo {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-eYRnj8SlhixF);
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__jbg07 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jbg07 {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__j8YJ {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ngiP35xYWc-A);
  border-radius: 5px;
  padding: 6px 22px;
  border: 2px solid var(--token-X_8-iYvIaM-o);
}
.link__j8YJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__j8YJ > :global(.__wab_flex-container) > *,
.link__j8YJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__j8YJ > :global(.__wab_flex-container) > picture > img,
.link__j8YJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__j8YJ {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-X_8-iYvIaM-o);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__j8YJ > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__j8YJ > :global(.__wab_flex-container) > *,
  .link__j8YJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__j8YJ > :global(.__wab_flex-container) > picture > img,
  .link__j8YJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.svg___15Xw0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-X_8-iYvIaM-o);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__gSsbs {
  width: auto;
  height: auto;
  color: var(--token-X_8-iYvIaM-o);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gSsbs {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-X_8-iYvIaM-o);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.column__uYzHw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__kKfzt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  background: #384647;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox___6Drwn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 2px 16px 27px;
}
.freeBox___6Drwn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6Drwn > :global(.__wab_flex-container) > *,
.freeBox___6Drwn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Drwn > :global(.__wab_flex-container) > picture > img,
.freeBox___6Drwn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Drwn {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Drwn > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__fPnm3 {
  display: flex;
  width: 1300px;
  height: auto;
  margin-top: calc(0px + 16px) !important;
  padding: 50px 0px 0px;
}
.freeBox__fPnm3 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__fPnm3 > :global(.__wab_flex-container) > *,
.freeBox__fPnm3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fPnm3 > :global(.__wab_flex-container) > picture > img,
.freeBox__fPnm3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPnm3 {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 16px 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPnm3 > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPnm3 > :global(.__wab_flex-container) > *,
  .freeBox__fPnm3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fPnm3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fPnm3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__iNany {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__iNany > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__iNany > :global(.__wab_flex-container) > *,
.freeBox__iNany > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iNany > :global(.__wab_flex-container) > picture > img,
.freeBox__iNany
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNany {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNany > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.svg__ptd2 {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ptd2 {
    width: 100%;
    min-width: 0;
  }
}
.link__pzRuh {
  color: var(--token-YvbDlteNtVvc);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pzRuh {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-YvbDlteNtVvc);
  }
}
.link__efnaX {
  color: var(--token-YvbDlteNtVvc);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__efnaX {
    font-size: 16px;
  }
}
.link__uaq3U {
  color: var(--token-YvbDlteNtVvc);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__uaq3U {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-YvbDlteNtVvc);
  }
}
.freeBox___5GS18 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5GS18 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 0;
  }
}
.text__hPuiI {
  position: relative;
  color: var(--token-YvbDlteNtVvc);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hPuiI {
    font-size: 12px;
    width: auto;
  }
}
.link__gxyR7 {
  position: relative;
  color: var(--token-ngiP35xYWc-A);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gxyR7 {
    font-size: 12px;
    width: auto;
  }
}
.root .link__gxyR7:hover {
  text-decoration-line: underline;
}
