.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__dHnIz {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__dHnIz > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__dHnIz > :global(.__wab_flex-container) > *,
.freeBox__dHnIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dHnIz > :global(.__wab_flex-container) > picture > img,
.freeBox__dHnIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dHnIz {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__j5Qjs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__qiyXi {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__vbSnu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vbSnu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__vbSnu > :global(.__wab_flex-container) > *,
.freeBox__vbSnu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbSnu > :global(.__wab_flex-container) > picture > img,
.freeBox__vbSnu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbSnu {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbSnu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbSnu > :global(.__wab_flex-container) > *,
  .freeBox__vbSnu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vbSnu > :global(.__wab_flex-container) > picture > img,
  .freeBox__vbSnu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__vbSnu2Plgb {
    display: none;
  }
}
.link__x36Dl {
  color: var(--token-X_8-iYvIaM-o);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__x36Dl {
    font-size: 16px;
  }
}
.link__hWAbG {
  color: var(--token-X_8-iYvIaM-o);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hWAbG {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-X_8-iYvIaM-o);
  }
}
.link__xz52 {
  color: var(--token-X_8-iYvIaM-o);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xz52 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-X_8-iYvIaM-o);
  }
}
.freeBox__gvwiX {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__gvwiX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__gvwiX > :global(.__wab_flex-container) > *,
.freeBox__gvwiX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gvwiX > :global(.__wab_flex-container) > picture > img,
.freeBox__gvwiX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kwAX {
  position: relative;
  object-fit: cover;
  color: var(--token-X_8-iYvIaM-o);
  width: 30px;
  height: 30px;
}
.root .svg__kwAX:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-X_8-iYvIaM-o);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__bCtO {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__a4CS0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__wdjuC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__islFx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ziRpo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__nrlnf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
